{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    JetBrains Americas, Inc.<br />
    West Coast<br />
    989 East Hillsdale Blvd. Suite 200<br />
    Foster City, CA 94404<br />
    <abbr title="Phone">P:</abbr>
    +420 2 4172 2501
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
