{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/background.jpg); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Details of Your Event</p>
    <p><a href="my_events" class="btn btn-primary btn-large">See other events &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <section id="eventsActions">
            <div class="list-group">
                <a href="create_documents"  class="list-group-item list-group-item-action">Create Documents</a>
                <a href="add_participants"  class="list-group-item list-group-item-action">Add Participants</a>
                <a href="add_results"       class="list-group-item list-group-item-action">Add Results</a>
                <a href="see_results"       class="list-group-item list-group-item-action">See Results</a>
                <a href="see_participants"  class="list-group-item list-group-item-action">See Participants</a>
                <a href="delete_event"      class="list-group-item list-group-item-action">Delete Event</a>
            </div>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
