{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="login" method="post" class="form-horizontal">
                <h4>Create an awesome event</h4>
                <hr />
                <div class="form-group">
                    <label for="id_e_name"></label>
                    <div class="col-md-10">
                        <h6>Event name</h6>
                        <input id="id_e_name" maxlength="254" name="e_name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_date"></label>
                    <div class="col-md-10">
                        <h6>Event date</h6>
                        <input id="id_e_date" maxlength="254" name="e_date" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_place"></label>
                    <div class="col-md-10">
                        <h6>Event Place</h6>
                        <input id="id_e_place" name="e_place" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_mod"></label>
                    <div class="col-md-10">
                        <h6>Modality</h6>
                        <input id="id_e_mod" name="e_mod" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_part"></label>
                    <div class="col-md-10">
                        <h6>Number of participants</h6>
                        <input id="id_e_part" name="e_part" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_visibility"></label>
                    <div class="col-md-10">
                      <h6>Event visibility</h6>
                      <form action="eventgen_submit" method="get" accept-charset="utf-8">
                        Privado:
                        <input type="radio" name="private" id="e_priv" checked="unchecked" onclick="documen.getElementById('e_pub').checked=false">
                        <br>
                        Público:
                        <input type="radio" name="public" id="e_pub" checked="unchecked" onclick="documen.getElementById('e_priv').checked=false">
                      </form>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_e_icon"></label>
                    <div class="col-md-10">
                      <h6>Event icon</h6>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create event" class="btn btn-default" />
                    </div>
                </div>
                {% if errors %}
                <p class="validation-summary-errors">Ooops, something went wrong</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
