{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>CherryPy</h1>
    <p class="lead">CherryPy is a pythonic, object-oriented web framework.</p>
    <p><a href="https://cherrypy.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            CherryPy allows developers to build web applications in much the same way they would build any other object-oriented Python program.
            This results in smaller source code developed in less time.
        </p>
        <p><a class="btn btn-default" href="https://docs.cherrypy.org/en/latest/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>pythonanywhere</h2>
        <p>Host, run, and code Python in the cloud!</p>
        <p><a class="btn btn-default" href="https://www.pythonanywhere.com/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
