{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/background.jpg); color:white">
    <h1>The CityRunning Project</h1>
    <p class="lead">Sports Events Made Easy</p>
    <p><a href="https://pedroteix.wixsite.com/city-running" class="btn btn-primary btn-large" style="background-color:rgb(255,42,0); color:white">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About the project</h2>
        <p>
            We want to help those who want to create any type of event related to sports, and to do that we created an app that not only handles all the paperwork needed, but also helps with invitations and rewards distribution.
        </p>
        <p>
            With all of this anyone can make any type of sport event without many of the hardships that exists today.
        </p>
        <p>
            The CityRunning Project saves time for anyone who wants to organize an event, whether it's a small thing like a football tournament, or even something complex like a city marathon
        </p>
    </div>
    <div class="col-md-4">
        <h2>About the current state of the application</h2>
        <p>The current version of this application only performs basic operations: sign up, log in and create an event.</p>
        <p>It does not illustrate neither the functionality nor the looks and feel of application in the end of the project but allows us to prove the architecture:
            <ul>
                <li>The working web page proves the connection client-server works, that the applicational server works, that the Microsoft Azure server is correctly configured and that the web pages are correctly constructed.</li>
                <li>The sign up - log in process proves the connection and use of the database is correctly implemented.</li>
                <li>The creation of the event is not yet fully implemented but allows us to show that the creation of new web pages with the wanted format is possible.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>What the application can do</h2>
        <p>Currently it's possible to sign up and login and see the creation page of an event. More features very soon!</p>
    </div>
</div>

{% endblock %}
