
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The City Running Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="static/content/bootstrap.css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="static/content/custom.min.css" />


  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <a class="navbar-brand" href="/">The City Running</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          {% include 'navbarpartial.html' %}
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        {% include 'loginpartial.html' %}
      </div>
    </nav>

    <main role="main">
        <div class="container body-content">
            <p></p>
            {% block content %} {% endblock %}
        </div> <!-- /container -->
    </main>

    <footer class="container">
      <p></p>
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© 2018 João, José, Pedro, Tiago · <a href="http://pedroteix.wixsite.com/city-running">About us</a> · <a>Last update: December 14, 2018</a></p>
    </footer>

    <!-- JQuery and Bootstrap core
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="static/scripts/popper.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>

  </body>
</html>
