{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/background.jpg); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Welcome Back!</p>
    <p><a href="create_event" class="btn btn-primary btn-large">Create an new event &raquo;</a></p>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Event Thumbnail" style="height: 225px; width: 100%; display: block;" src=""
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">EVENT INFO</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Manage</button>
                            </div>
                            <small class="text-muted">DATES</small>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
