{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header.png); color:white">
    <h1>{{ title }}</h1>
    <!-- <h3>{{ message }}</h3> -->
    <p><a href="https://pedroteix.wixsite.com/city-running" class="btn btn-primary btn-large">Learn More &raquo;</a></p>
</div>

<p>
    We want to help those who want to create any type of event related to sports, and to do that we created an app that
    not only handles all the paperwork needed, but also helps with invitations and rewards distribution.
</p>
<p>
    With all of this anyone can make any type of sport event without many of the hardships that exists today.
</p>
<p>
    The CityRunning Project saves time for anyone who wants to organize an event, whether it's a small thing like a
    football tournament, or even something complex like a city marathon.
</p>

{% endblock %}
