{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level3.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Give us the info about the participant(s) you want to add to <i>{{e_name}}</i></p>
    <form method="get" action="event_details">
        <input type="hidden" value="{{e_name}}" name="e_name" />
        <p><button type="submit" class="btn btn-large btn-secondary">Go back to the event description »</button></p>
    </form>
</div>

<div class="container">
    <!-- one card -->
    <div class="card-deck">

        <form method="get" action="add_participants">
            <input type="hidden" value="{{e_name}}" name="e_name" />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Participant Info</h5>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="username">Username</label>
                            {% if participants|length == 0 %}
                            <p><b>No Participants Available</b></p>
                            {% else %}
                            <select id="participant_username" name="participant_username" class="form-control" type="text" aria-describedby="participant_username">
                                {% for participant in participants %}
                                    {% if loop.first %}
                                    <option selected>{{participant}}</option>
                                    {% else %}
                                    <option>{{participant}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% endif %}
                            
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                If the participant does not have an account, sign up is needed.
                            </small>
                            
                        </div>
                    
                        {% if errors %}
                        <div class="alert alert-primary" role="alert">
                            Please enter a valid user name!
                        </div>
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="form-check form-check-inline">
                        
                        <button type="submit" class="btn btn-sm btn-primary">Add Participant</button>
                        
                        <p class="card-text"><small class="text-muted">
                            <input class="form-check-input" type="checkbox" checked="" value="True" name="more" id="more">
                            <label class="form-check-label" for="more">Add more
                        </small></p>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
