{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level2.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Give us some information about your event</p>
</div>

<div class="container">
    <section id="eventForm">
        <form action="create_event" method="post" name="main_form">
            
            <div class="form-group row">
                <label for="id_e_name" class="col-sm-2 col-form-label">Name</label>
                <input class="form-control" id="id_e_name" maxlength="254" name="name" type="text" placeholder="e.g. The Gellers' Cup" required>
            </div>
            <div class="form-group row">
                <label for="id_e_date" class="col-sm-2 col-form-label">Start Date</label>
                <input class="form-control" id="id_e_date_end" maxlength="254" name="s_date" type="date" required>
            </div>
            <div class="form-group row">
                <label for="id_e_date" class="col-sm-2 col-form-label">End Date</label>
                <input class="form-control" id="id_e_date_end" maxlength="254" name="e_date" type="date" required>
            </div>
            <div class="form-group row">
                <label for="id_e_place" class="col-sm-2 col-form-label">Place</label>
                <input class="form-control" id="id_e_place" name="place" type="text" placeholder="e.g. Aveiro, Braga Municipal Stadium" required>
            </div>
            <div class="form-group row">
                <label for="id_e_mod" class="col-sm-2 col-form-label">Modality</label>
                <select id="id_e_mod" name="modality" class="form-control">
                    {% for modality in modalities %}
                        {% if loop.first %}
                        <option selected>{{modality}}</option>
                        {% else %}
                        <option>{{modality}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group row">
                <label for="id_e_part" class="col-sm-2 col-form-label">Dimension</label>
                <select id="id_e_part" name="participants" class="form-control" type="number">
                    {% for size in sizes %}
                        {% if loop.first %}
                        <option selected>{{size}} ({{sizes[size]}})</option>
                        {% else %}
                        <option>{{size}} ({{sizes[size]}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group row">
                <label for="id_e_visibility" class="col-sm-2 col-form-label">Visibility</label>
                <select id="id_e_part" name="visibility" class="form-control" type="number">
                    <option selected>Public</option>
                    <option>Private</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="id_e_icon" class="col-sm-2 col-form-label">Icon (Soon)</label>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create event" class="btn btn-default" onclick="requirements()"/>
                </div>
            </div>
            {% if errors %}
            <p class="validation-summary-errors">Missing parameters</p>
            {% endif %}
        </form>
    </section>

    <section id="socialLoginForm"></section>
</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
