{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level2.png); color:white">
    <h1>{{details['name']}} {{ title }}</h1>
    <p class="lead">Details of Your Event</p>
    <p><a href="my_events" class="btn btn-primary btn-large">Go back to your events &raquo;</a></p>
</div>

<div class="card-group">
    <!-- About your event -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">About your event</h5>
            
            <!-- Event Info -->
            <p class=card-text>From {{details['start']}} to {{details['end']}}</li>
            <p class=card-text>At {{details['place']}}</p>
            <p class=card-text>{{details['modality']}}</li>
            <p class=card-text>{{details['participants']}}</li>
            
            <!-- Visibility -->
            {% if details['visible']=='True' %}
            <p class=card-text>Public Event</li>
            {% else %}
            <p class=card-text>Private Event</li>
            {% endif %}
        </div>
        <div class="card-footer">
            
            <p class="card-text">
                <form method="get" action="edit_event">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm btn-primary" disabled>Edit Information</button>
                </form>
            </p>
            
            <p class="card-text">
                <form method="get" action="delete_event">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm ">Delete Event</button>
                </form>
            </p>
        </div>
    </div>

    <!-- Documents -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Documents<span class="badge">7</span></h5>
            <p class="card-text">Create or consult the documents you generated.</p>
            </div>
        <div class="card-footer">
            <p class="card-text">
                <form method="get" action="create_documents">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm btn-primary">Create Documents</button>
                </form>
            </p>
            
            <p class="card-text">
                <form method="get" action="see_documents">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm ">See
                    Documents</button>
                </form>
            </p>
        </div>
    </div>
    
    <!-- Participants -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Participants<span class="badge">7</span></h5>
            <p class="card-text">Add or view your event's participants.</p>
        </div>
        
        <div class="card-footer">
            <p class="card-text">
                <form method="get" action="add_participants">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm btn-primary">Add Participants</button>
                </form>
            </p>
            
            <p class="card-text">
                <form method="get" action="see_participants">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm ">See Participants</button>
                </form>
            </p>

        </div>
    </div>

    <!-- Results -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Results<span class="badge">7</span></h5>
            <p class="card-text">Add (or update automatically) and consult your event's results.</p>
        </div>
        
        <div class="card-footer">
            <p class="card-text">
                <form method="get" action="add_results">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm btn-primary">Add Results</button>
                </form>
            </p>
            
            <p class="card-text">
                <form method="get" action="see_results">
                    <input type="hidden" value="{{details['name']}}" name="e_name" />
                    <button type="submit" class="btn btn-sm ">See Results</button>
                </form>
            </p>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
