{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level1.png); color:white">
    <h1>The CityRunning Project</h1>
    <p class="lead">Sports Events Made Easy</p>
    <p> 
        {% if user.is_authenticated %}
            <a href="my_events" class="btn btn-primary btn-large">Welcome Back! &raquo;</a>
        {% else %}
            <a href="login" class="btn btn-primary btn-large">Let's Start &raquo;</a>
        {% endif %}
        <a href="https://pedroteix.wixsite.com/city-running" class="btn btn-secondary btn-large">Learn more &raquo;</a>
    </p>
</div>

<div class="text-center">
    <div class="row">
        <div class="col-lg-4">
            <img src="static/images/intro-docs.png" alt="Documents" width="120" height="120" style="display: block; margin-left: auto; margin-right: auto;">
            <p></p>
            <h2>Create the documents you need</h2>
            <p>Select the documents you need and we will create them for you.</p>
        </div>
        
        <div class="col-lg-4">
            <img src="static/images/intro-run.png" alt="Introduction" width="120" height="120" style="display: block; margin-left: auto; margin-right: auto;">
            <p></p>
            <h2>Managing sports made easy</h2>
            <p>Create, manage and make others talk about your event.</p>
        </div>

        <div class="col-lg-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="static/images/intro-teams.png" alt="Teams" width="120" height="120" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="col">
                        <img src="static/images/intro-results.png" alt="Teams" width="120" height="120" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
           
            <p></p>
            <h2>Manage results and teams</h2>
            <p>Use sensors (sold separetly) or manually add the results of your event and manage your teams.</p>
        </div>
    </div>
</div>
    

{% endblock %}
