{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level1.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Welcome Back!</p>
    <p><a href="create_event" class="btn btn-primary btn-large">Create a new event &raquo;</a></p>
</div>

<div class="card-deck album py-5 bg-light">
    {% for event in events %}
    <div class="card">
        
        <img class="card-img-top" src="{{events['icon_path']}}" alt="{{events['icon_path']}}">
        
        <div class="card-body">
          <h5 class="card-title" id="event_{{event['name']}}" name="e_name" >{{event['name']}}</h5>
            <p class="card-text">
                {{event['modality']}}
            </p>
            <p class="card-text">
                {{event['participants']}}
            </p>
        </div>
       
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form method="get" action="event_details">
                        <input type="hidden" value="{{event['name']}}" name="e_name" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Manage</button>
                    </form>
                </div>
                <small class="text-muted">{{event['start']}} - {{event['end']}}
                </small>
            </div>
        </div>
    </div>
    {% endfor %} 
</div>

{% endblock %}


{% block scripts %}
   
    


{% endblock %}
