{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level3.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">List of participants for <i>{{e_name}}</i></p>
    <form method="get" action="event_details">
        <input type="hidden" value="{{e_name}}" name="e_name" />
        <p><button type="submit" class="btn btn-large btn-secondary">Go back to the event description »</button></p>
    </form>
</div>

<div class="container">

    <div class="list-group">
        {% for participant in participants %}
        <a href="mailto:{{participant['email']}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{participant['name']}}</h5>
                <small></small>
            </div>
            <p class="mb-1">{{participant['email']}}</p>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock %}


{% block scripts %}
<script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
