{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level3.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">Consult the generated documents for <i>{{e_name}}</i></p>
    <form method="get" action="event_details">
        <input type="hidden" value="{{e_name}}" name="e_name" />
        <p><button type="submit" class="btn btn-large btn-secondary">Go back to the event description »</button></p>
    </form>
</div>

<div class="container">
    <script type="text/javascript">
      function openTab(th) {
        window.open(th.name, '_blank');
      }
    </script>

    <div class="list-group">
      {% for document in documents %}
      <form method="get" action="view_doc" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{document['name']}}</h5>
          <input type="hidden" value="{{e_name}}" name="e_name" />
          <input type="hidden" value="{{document['path']}}" name="path" />
          <input type="hidden" value="{{document['type']}}" name="doctype" />
          <a class="card-link" onClick="openTab(this)" href="#" name="{{document['path']}}">View document</a>
          <small></small>
        </div>
        <p class="mb-1" href="{{document['path']}}">{{document['type']}}</p>
      </form>
      {% endfor %}
    </div>

</div>

{% endblock %}


{% block scripts %}
<script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
