{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image: url(static/images/header_level3.png); color:white">
    <h1>{{ title }}</h1>
    <p class="lead">View {{doctype}} document of <i>{{e_name}}</i></p>
    <form method="get" action="see_documents">
        <input type="hidden" value="{{e_name}}" name="e_name" />
        <p><button type="submit" class="btn btn-large btn-secondary">Go back to the event documents »</button></p>
    </form>
</div>

<!-- one card per type of document -->
<!-- checkbox,  name of authorities per card -->

<embed src="{{path}}" type="application/pdf" >
<script charset="utf-8">
  console.log({{path}})
</script>

{% endblock %}


{% block scripts %}
    <script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
